<div class="form-login-content">
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <img src="../public/images/backgroundPhoto.jpeg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">{{user.id}}</h4>
                <p class="card-text">{{user.email}}<br>{{user.userName}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <p class="site-title">{{board.title}}</p>
        <p class="site-desc">{{board.content}}</p>
    </div>
</div> 